﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AssignmentReplyVote
<h1>Vurdér besvarelse</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "AssignmentReplyVote", FormMethod.Post))
{
    @Html.HiddenFor(m => m.AssignmentReplyId)

    @Html.DropDownListFor(m => m.Vote,
                new SelectList(Enum.GetValues(typeof(VoteType))),
                "Vælg vurdering")

    <br />
    <input type="submit" value="Opret" />
}