﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ForumDirectory
<h1>Opret forum kategori</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "ForumDirectory", FormMethod.Post))
{
    <b>Titel</b>
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    <br />
    <b>Beskrivelse</b>
    <br />
    @Html.TextAreaFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
    <br />
    <input type="submit" value="Opret" />
}