﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ForumDirectory
<h1>Slet forum kategori</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Delete", "ForumDirectory", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.Name)

    <b>Titel</b>
    <br />
    @Html.DisplayTextFor(m => m.Name);
    <br />
    <b>Beskrivelse</b>
    <br />
    @Html.DisplayTextFor(m => m.Description);
    <br />
    <input type="submit" value="Slet" />
}