﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ForumDirectory
<h1>Rediger forum kategori</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Edit", "ForumDirectory", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <b>Titel</b>
    @Html.TextBoxFor(m => m.Name);
    @Html.ValidationMessageFor(m => m.Name);
    <br />
    <b>Beskrivelse</b>
    @Html.TextAreaFor(m => m.Description);
    <br />
    @Html.ValidationMessageFor(m => m.Description);
    <br />
    <input type="submit" value="Rediger" />
}