﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<ForumDirectory>

<h2>Forum Kategorier</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@foreach (var directory in Model)
{
    <h2>@Html.ActionLink(directory.Name, "Index", "ForumThread", new { directoryId = directory.Id })</h2>
    <p>@directory.Description</p>
    @Html.ActionLink("Ret ", "Edit", "ForumDirectory", new { id = directory.Id })
    @Html.ActionLink("Slet ", "Delete", "ForumDirectory", new { id = directory.Id })
    <hr />
}

@Html.ActionLink("Ny forum kategori", "Create", "ForumDirectory")