﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model ForumPost

<h4>Slet forum post</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Delete", "ForumPost", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ThreadId)
    @Html.HiddenFor(m => m.Text)

    @Html.DisplayTextFor(m => m.Text)
    <hr />
    <input type="submit" value="Slet" />
}