﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model ForumPost

<h4>Rediger forum post</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Edit", "ForumPost", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ThreadId)


    @Html.TextAreaFor(m => m.Text)
    <hr />
    <input type="submit" value="Rediger" />
}