﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model (ForumDirectory Directory, (ForumThread Thread, User Author) UserThread, List<(ForumPost Post, User Author)> UserPosts)

<h1>@Model.Directory.Name</h1>

<h2>@Model.UserThread.Thread.Title</h2>
<h6>by @Model.UserThread.Author.Username</h6>
<hr />

@foreach (var userPost in Model.UserPosts)
{
    <p><b>@userPost.Author.Username</b> @userPost.Post.Created</p>
    <p>@userPost.Post.Text</p>
    @Html.ActionLink("Rediger ", "Edit", "ForumPost", new { id = userPost.Post.Id })
    @Html.ActionLink("Slet ", "Delete", "ForumPost", new { id = userPost.Post.Id })
    <hr />
}


@Html.ActionLink("Ny post", "Create", "ForumPost", new { threadId = Model.UserThread.Thread.Id })
