﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model ForumThread
<h1>Opret forum tråd</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "ForumThread", FormMethod.Post))
{
    @Html.HiddenFor(m => m.DirectoryId)

    <b>Titel</b>
    @Html.TextBoxFor(m => m.Title)
    @Html.ValidationMessageFor(m => m.Title)
    <br />
    <input type="submit" value="Opret" />
}