﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model (ForumDirectory Directory, List<(ForumThread Thread, User Author)> UserThreads)

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<h1>@Model.Directory.Name</h1>
<hr />
@foreach (var userThread in Model.UserThreads)
{
    <h2>@Html.ActionLink(userThread.Thread.Title, "Index", "ForumPost", new { threadId = userThread.Thread.Id })</h2>
    <b>af @userThread.Author.Username - @userThread.Thread.Created.ToShortDateString()</b><br />
    @Html.ActionLink("Rediger ", "Edit", "ForumThread", new { id = userThread.Thread.Id })
    @Html.ActionLink("Slet ", "Delete", "ForumThread", new { id = userThread.Thread.Id })
    <hr />
}

@Html.ActionLink("Ny tråd", "Create", "ForumThread", new { directoryId = Model.Directory.Id })