﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <b>Brugernavn:</b><br />
    @Html.TextBox("username", null, new { required = true })
    @Html.ValidationMessage("username", null);
    <br />
    <b>Password:</b><br />
    @Html.TextBox("password", null, new { required = true, TextMode = "password" })
    @Html.ValidationMessage("password", null);
    <br />
    <input type="submit" value="Login" />
    @Html.ActionLink("Register", "Register", "User")
}