﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model User

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    <b>Username:</b><br />
    @Html.TextBox("username", null, new { required = true })
    <br />
    <b>Password:</b><br />
    @Html.TextBox("password", null, new { required = true, TextMode = "password" })
    <br />
    <b>Email:</b><br />
    @Html.TextBox("email", null, new { required = true })
    <br />
    
    <input type="submit" value="Register" />
}