﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AssignmentReply
<h1>Opret besvarelse</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "AssignmentReply", FormMethod.Post))
{
    @Html.HiddenFor(m => m.AssignmentId)

    <b>Besvarelse:</b><br />
    @Html.TextBoxFor(m => m.Text)

    <br />
    <input type="submit" value="Opret" />
}