﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AssignmentReply
<h1>Slet besvarelse</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Delete", "AssignmentReply", FormMethod.Post))
{
    @Html.HiddenFor(m => m.AssignmentId)
    @Html.HiddenFor(m => m.Text)

    <b>Besvarelse:</b><br />
    @Html.DisplayTextFor(m => m.Text)
    <br />
    <input type="submit" value="Slet" />
}