﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ((Assignment assignment, User author) AssignmentDetails, List<(AssignmentReply Reply, User Author, int Upvotes, int Downvotes)> AssignmentReplyDetails)

@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<h2>@Model.AssignmentDetails.assignment.Title</h2>
<h4>@Model.AssignmentDetails.assignment.Description</h4>
<b>@Model.AssignmentDetails.author.Username</b>

<hr />

@foreach (var assignmentReplyDetail in Model.AssignmentReplyDetails)
{
    <b>@assignmentReplyDetail.Author.Username</b>
    <br />
    <p>@assignmentReplyDetail.Reply.Text</p>
    <p>Upvotes: @assignmentReplyDetail.Upvotes | Downvotes: @assignmentReplyDetail.Downvotes </p>

    @Html.ActionLink("Vurder ", "Create", "AssignmentReplyVote", new { assignmentReplyId = assignmentReplyDetail.Reply.Id })
    @Html.ActionLink("Rediger ", "Edit", "AssignmentReply", new { id = assignmentReplyDetail.Reply.Id })
    @Html.ActionLink("Slet ", "Delete", "AssignmentReply", new { id = assignmentReplyDetail.Reply.Id })
    <hr />
}

@Html.ActionLink("Ny besvarelse", "Create", "AssignmentReply", new { assignmentId = Model.AssignmentDetails.assignment.Id })