﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h2>Om EPSM3</h2>

    EPSM3 står for eksamens projekt semester 3.
    Projektet er udviklet af gruppe X2, datamatiker udd. semester 3.
    <br />
    <br />
    <h4>Teknologier brugt</h4>
    <div style="text-align:left; display: inline-grid">
        <ul>
            <li>ASP Net Core WebApp (MVC)</li>
            <li>ASP Net Core WebApi</li>
            <li>Swagger</li>
            <li>CORS</li>
            <li>IdentityServer</li>
            <li>Entity Framework</li>

        </ul>
    </div>
    <h4>Links</h4>
    <a href="https://gitlab.com/chri06ea/psm3">Source code</a>
</div>