﻿
@using Domain.DTO 

@model (List<LeaderboardEntry> leaderboard, List<AssignmentEntry> latestAssignments, List<ForumThreadEntry> latestForumThreads) 

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <hr />
    <p>
        På denne side kan du få hjælp til matematik opgaver.
    </p>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <h4>Leaderboard</h4>
            <table style="width: 100%">
                <tr>
                    <td width="50%">
                        <b>Brugernavn</b>
                    </td>

                    <td width="50%">
                        <b>Score</b>
                    </td>
                </tr>
                @foreach (var leaderboardEntry in Model.leaderboard)
                {
                    <tr>
                        <td style="width: 50%">@leaderboardEntry.Username</td>
                        <td style="width: 50%">@leaderboardEntry.Score</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-sm-4">
            <h4>Seneste opgaver</h4>
            <table style="width: 100%">
                <tr>
                    <td width="50%">
                        <b>Titel</b>
                    </td>

                    <td width="50%">
                        <b>Forfatter</b>
                    </td>
                </tr>

                @foreach (var latestAssignmentEntry in Model.latestAssignments)
                {
                    <tr>
                        <td style="width: 50%">@latestAssignmentEntry.Title</td>
                        <td style="width: 50%">@latestAssignmentEntry.Author</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-sm-4">
            <h4>Seneste forum tråde</h4>
            <table style="width: 100%">
                <tr>
                    <td width="50%">
                        <b>Titel</b>
                    </td>

                    <td width="50%">
                        <b>Forfatter</b>
                    </td>
                </tr>
                @foreach (var latestForumThreadEntry in Model.latestForumThreads)
                {
                    <tr>
                        <td style="width: 50%">@latestForumThreadEntry.Title</td>
                        <td style="width: 50%">@latestForumThreadEntry.Author</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

