﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Assignment

<h1>Opret opgave</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "Assignment", FormMethod.Post))
{
    <p>Titel</p>
    @Html.TextBoxFor(m => m.Title)
    <p>Beskrivelse</p>
    @Html.TextAreaFor(m => m.Description)

    <input type="submit" value="Opret opgave" />
}