﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Assignment

<h1>Slet opgave</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Delete", "Assignment", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Title)
    @Html.HiddenFor(m => m.Description)

    <b>Titel</b>
    @Html.DisplayTextFor(m => m.Title)<br />
    <b>Beskrivelse</b><br />
    @Html.DisplayTextFor(m => m.Description)
    <br />
    <input type="submit" value="Slet" />
}