﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Assignment

<h1>Rediger opgave</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Edit", "Assignment", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <b>Titel</b>
    @Html.TextBoxFor(m => m.Title)<br />
    <b>Beskrivelse</b><br />
    @Html.TextAreaFor(m => m.Description)<br />

    <input type="submit" value="Ret opgave" />
}