﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<(Assignment Assignment, User Author)>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@foreach (var userAssignment in Model)
{
    <h2>
        @Html.ActionLink(@userAssignment.Assignment.Title, "Index", "AssignmentReply", new { assignmentId = userAssignment.Assignment.Id })
    </h2>
    <b>af @userAssignment.Author.Username</b>
    <p>@userAssignment.Assignment.Description</p>
    @Html.ActionLink("Ret ", "Edit", "Assignment", new { id = userAssignment.Assignment.Id })
    @Html.ActionLink("Slet", "Delete", "Assignment", new { id = userAssignment.Assignment.Id })
    <hr />
}

@Html.ActionLink("Ny opgave", "Create", "Assignment")